window {
  margin: 0px;
  border: 5px solid #1e1e2e; /* Base */
  background: transparent;
  border-radius: 15px;
}

#input {
  padding: 4px;
  margin: 4px;
  padding-left: 20px;
  border: none;
  color: #cdd6f4; /* Text */
  font-weight: bold;
  background-color: #313244; /* Surface0 */
  outline: none;
  border-radius: 15px;
  margin: 10px;
  margin-bottom: 2px;
}

#input:focus {
  border: 0px solid #1e1e2e; /* Base */
  margin-bottom: 0px;
}

#inner-box {
  margin: 7px;
  border: 10px solid #1e1e2e; /* Base */
  color: #cdd6f4; /* Text */
  font-weight: bold;
  background-color: #313244; /* Surface0 */
  border-radius: 15px;
}

#outer-box {
  margin: 0px;
  border: none;
  border-radius: 15px;
  background-color: #1e1e2e; /* Base */
}

#scroll {
  margin-top: 5px;
  border: none;
  border-radius: 15px;
  margin-bottom: 5px;
}

#img:selected {
  background: transparent;
  border-radius: px;
}

#text:selected {
  margin: 0px 0px;
  border: none;
  border-radius: 8px;
  background: transparent;
  color: #cdd6f4; /* Text */
}

#entry {
  margin: 0px 0px;
  border: none;
  border-radius: 8px;
  background-color: transparent;
}

#entry:selected {
  margin: 0px 0px;
  border: none;
  border-radius: 8px;
  background-color: #585b70; /* Surface2 */
}