@import "mocha.css"; 

* {
    font-family: "MesloLGS Nerd Font Mono Bold";
    font-size: 16px;
    min-height: 0;
    font-weight: bold;
}

window#waybar {
    background: transparent;
    color: @overlay0;
    transition-property: background-color;
    transition-duration: 0.1s;
}

#window {
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: inset 0 -3px transparent;
    border-radius: 999px;
    background-color: rgba(0, 0, 0, 0.4);
    color: @mauve;
}

button {
    box-shadow: inset 0 -3px transparent;
    border-radius: 999px;
    margin-right: 5px;
    border: 2px solid transparent;
}

button:hover {
    background: inherit;
    color: @mauve;
    border-color: @mauve;
}

#workspaces button {
    padding: 0 10px;
    background-color: rgba(0, 0, 0, 0.1);
    color: @mauve;
}

#workspaces button.focused {
    background-color: rgba(0, 0, 0, 0.4);
    color: @rosewater;
}

#workspaces button.active {
    background-color: rgba(0, 0, 0, 0.4);
    color: @mauve;
    padding: 0 40px;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#pulseaudio,
#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#wireplumber,
#tray,
#network,
#mode,
#custom-clash,
#scratchpad {
    padding: 0 10px;
    box-shadow: inset 0 -3px transparent;
    border-radius: 999px;
    background-color: rgba(0, 0, 0, 0.4);
    margin-left: 5px;
}

#clock {
    color: @maroon;
}

#clock.date {
    color: @mauve;
}

#pulseaudio {
    color: @blue;
}

#network {
    color: @yellow;
}

#idle_inhibitor {
    margin-right: 12px;
    color: #7cb342;
}

#idle_inhibitor.activated {
    color: @red;
}

#battery {
    color: @green;
}

#custom-clash {
    color: @lavender;
}


/* If workspaces is the leftmost module, omit left margin */
.modules-left>widget:first-child>#workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right>widget:last-child>#workspaces {
    margin-right: 0;
}